<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Card-task</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
        <div class="collapse navbar-collapse">
            <div class="navbar-nav mr-auto" th:text="#{name}">
            </div>
            <span class="" th:text="#{lang.change}"></span>:
            <div class="navbar-text">
                <select class="form-control" id="locales">
                    <option value=""></option>
                    <option value="en" th:text="#{lang.eng}"></option>
                    <option value="fr" th:text="#{lang.fr}"></option>
                </select>
            </div>

        </div>
    </nav>

    <div id="fh5co-content">

        <div class="choose">
            <div class="fh5co-heading">
                <h2 th:text="#{choise}"></h2>
                <p th:text="#{skills}">

                </p>
            </div>
            <ul class="list-nav">
                <li th:text="#{reason1}"></li>
                <li th:text="#{reason2}"></li>
                <li th:text="#{reason3}"></li>
                <li th:text="#{reason4}"></li>

            </ul>
        </div>
    </div>

    <div id="fh5co-services">
        <div class="container">
            <h3 class="text-center" th:text="#{technologies}"></h3>
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="services">

                        <div class="desc">
                            <h3><a href="#">Java</a></h3>
                            <p th:text="#{java}"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <div class="desc">
                            <h3><a href="#">Javascript</a></h3>
                            <p th:text="#{js}"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <div class="desc">
                            <h3><a href="#">Unity 3D</a></h3>
                            <p th:text="#{unity}"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="services">
                        <div class="desc">
                            <h3><a href="#">Spark AR</a></h3>
                            <p th:text="#{spark}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center  mx-auto">
                    <h2>Last projects</h2>
                    <p>Project experience information</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="fh5co-blog">
                        <div style="background-color: #00b3ee; height: 400px"></div>
                        <div class="blog-text">
                            <h3><a href="#">Name</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="fh5co-blog">
                        <div style="background-color: #5cb85c; height: 400px"></div>
                        <div class="blog-text">
                            <h3><a href="#">Name</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into electronic typesetting,
                                remaining essentially unchanged. It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                                publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="background-color: #5bc0de">
        <div class="container">
            <div class="">
                <div class="col-md-8 col-md-offset-2  fh5co-heading mx-auto">
                    <h2>You feel sad then contact me</h2>
                    <p>Email <h4>v.osipovich@itransition.com</h4></p>
                    <div class="" style="">
                        <form id="form">
                            <div class="form-group">
                                <label>Name</label>
                                <input type="text" class="form-control" name="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label>Email address</label>
                                <input type="email" class="form-control" name="email" aria-describedby="emailHelp"
                                       placeholder="Enter email">
                            </div>

                            <div class="form-group">
                                <label for="textarea">Message</label>
                                <textarea class="form-control" name="message" id="textarea"></textarea>
                            </div>
                            <button id="submit-button" type="button" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>
<script src="js/script.js"></script>
</body>
</html>

